# Auth
BETTER_AUTH_URL=<your_application_url> #i.e. https://scheduler.homelab.com
BETTER_AUTH_SECRET=<random_min_32_char_secret> # generate with openssl rand -base64 32
GITHUB_CLIENT_ID= # if unset the github auth provider will be unavailable
GITHUB_CLIENT_SECRET= # if unset the github auth provider will be unavailable

# Database
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}
